header {
  display: grid;
  grid-template-columns: auto 1fr; 
  align-items: center;
  background-color: black;
  color: white;
  padding: 10px 20px;
}

.logo {
  display: flex;
  align-items: center;
}

.nav-container {
  display: grid;
  grid-template-columns: auto auto auto; 
  align-items: center;
  justify-content: end;
  gap: 50px;
}
nav ul {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  margin: 0;
  padding: 0;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
}

nav a:hover {
  color: rgb(225, 13, 13);
  transition: ease-in-out 0.3s;
}

.search-box {
  display: flex;
  align-items: center;
  background: white;
  border-radius: 12px;
  overflow: hidden;
  width: 500px;
}

.search-box input {
  border: none;
  padding: 0.6rem 1rem;
  font-size: 1rem;
  outline: none;
  flex: 1;
}

.search-box button {
  background: #ffffff;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
}

.search-box button:hover {
  color: rgb(225, 13, 13);
  transition: ease-in-out 0.3s;
}




.menu-toggle {
  display: none;
  font-size: 1.6rem;
  cursor: pointer;
}

@media (max-width: 1024px) {
  header {
    grid-template-columns: 1fr;
    text-align: left;
  }

  .nav-container {
    grid-template-columns: 1fr;
    justify-content: center;
    gap: 10px;
  }

  .search-box {
    width: 60%;
    margin: 0 auto;
  }

  nav ul {
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
  }
}


@media (max-width: 768px) {
  header {
    grid-template-columns: 1fr auto; /* logo | hamburger */
  }

  .nav-container {
    grid-template-columns: 1fr;
    grid-row: 2 / 3;
    width: 100%;
  }

  nav ul {
    flex-direction: column;
    background-color: rgb(48, 45, 45);
    position: absolute;
    top: 60px;
    right: 0;
    width: 200px;
    padding: 15px;
    display: none;
  }

  nav ul.show {
    display: flex;
  }

  .search-box {
    width: 100%;
    margin-top: 10px;
  }

  .menu-toggle {
    display: inline-block;
    justify-self: end;
  }
}