main {
    /* mobile first*/
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px; 
    padding: 20px; 
    max-width: 1400px;
    margin: 20px auto; 
}


.item {
    background-color: var(--white-color); 
    border: 1px solid #eee;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
    overflow: hidden; 
    display: flex;
    flex-direction: column; 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.item:hover {
    transform: translateY(-5px); 
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.12);
}

.item-image {
    width: 100%;
    height: auto;
    
    aspect-ratio: 1 / 1; 
    object-fit: contain; 
    background-color: #f9f9f9;
}

.item-details {
    padding: 15px;
    flex-grow: 1; 
}

.item-name {
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--text-color);
    margin: 0 0 10px 0;
}

.item-price {
    font-size: 1rem;
    font-weight: 700;
    color: #d00000; 
    margin: 0;
}

.add-to-cart {
    display: block; 
    background-color: var(--black-color); 
    color: var(--white-color); 
    text-align: center;
    text-decoration: none;
    font-weight: 600;
    padding: 12px;
    margin: 0 15px 15px 15px; 
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.add-to-cart:hover {
    background-color: rgb(225, 13, 13); 
}


@media (min-width: 768px) {
    main {
        grid-template-columns: 1fr 1fr 1fr;
    }
}


@media (min-width: 1170px) {
    main {
        grid-template-columns: 1fr 1fr 1fr 1fr; 
    }

    .item-name {
        font-size: 1.2rem; 
    }
}